@use '../../styles/scss/index';
@use '../../styles/scss/abstracts/mixins' as m;
@use '../../styles/scss/abstracts/vars' as v;

.BentoItem {
  @include m.glass($blur: .5em);
  @include m.flexBox($ff: column nowrap, $jc: flex-end, $ai: flex-start);
  position: absolute;
  width: 100%;
  height: 100%;
  color: v.$light;
  border-radius: 1.5em;
  padding: 1.5em;
  gap: .5em;
  position: relative;
  overflow: hidden;


  &-heading {
    font-size: 2em;
  }

  &-subheading {
    font-size: 1.2em;
  }

  &-pic {
    width: 100%;
    height: 100%;
    
  }

  &-image {
    background-color: gray;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    position: absolute;
    filter: saturate(0);
  }
}